<div id="gameboard">
      <div class="row">
        <div class="cell lt x" id="cell1" >X</div>
        <div class="cell mt o" id="cell2" >O</div>
        <div class="cell rt x" id="cell3" >O</div>
      </div>

      <div class="row">
        <div class="cell lc o" id="cell4" >O</div>
        <div class="cell mc x" id="cell5" >X</div>
        <div class="cell rc o" id="cell6" >O</div>
      </div>

      <div class="row">
        <div class="cell lb o" id="cell7" >O</div>
        <div class="cell mb o" id="cell8" >O</div>
        <div class="cell bb x" id="cell9" >X</div>
      </div>
</div>
    
    <div class="btn" tickle-me><button>Tickle Me</button></div>

    <div class="btn"><a href="#/game"><button>Start Game</button></a></div>
    <div class="btn"><a href="#/how_to"><button class="how-btn">How to play</button></a></div>
